# Editor files
*.swp
*.swo
*~

# Compiled binaries
*.exe
*.out
*.o
*.a
*.so
*.dylib

# Go binaries (named without extension)
/Backend/**/main
/Backend/**/out
/Backend/**/ric.dev

# OS files
.DS_Store
Thumbs.db

# Dependencies
node_modules/

# Logs
*.log

# Misc
task.todo
